In [0]:
%run /Users/kundu7337@gmail.com/assignment/source_to_bronze/utils

Out[6]: <function __main__.camel_to_snake(df)>

In [0]:
from pyspark.sql.types import StructField, StructType, StringType, IntegerType

In [0]:
# Read file with custom schema
custom_schema = StructType([
    StructField("emp_Id", StringType(), True),
    StructField("emp_Name", StringType(), True),
    StructField("department", StringType(), True),
    StructField("Country", StringType(),  True),
    StructField("Salary", StringType(), True),
    StructField("Age", StringType(), True),
])

emp_path = '/FileStore/assignment/resource/employee_q1.csv'
employee_df = read_custom_schema(emp_path , custom_schema)
employee_df.show()
employee_df.printSchema()

+----------+------------+----------+-------+------+---+
|EmployeeID|EmployeeName|Department|Country|Salary|Age|
+----------+------------+----------+-------+------+---+
|         1|       James|      D101|     IN|  9000| 25|
|         2|      Michel|      D102|     SA|  8000| 26|
|         3|   James son|      D101|     IN| 10000| 35|
|         4|      Robert|      D103|     MY| 11000| 34|
|         5|       Scott|      D104|     MA|  6000| 36|
|         6|         Gen|      D105|     JA| 21345| 24|
|         7|        John|      D102|     MY| 87654| 40|
|         8|       Maria|      D105|     SA| 38144| 38|
|         9|       Soffy|      D103|     IN| 23456| 29|
|        10|         Amy|      D103|     CN| 21345| 24|
+----------+------------+----------+-------+------+---+

root
 |-- EmployeeID: string (nullable = true)
 |-- EmployeeName: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- Age: string (nullable = true)

In [0]:

schema = StructType([
    StructField("dep_id", StringType(), True),
    StructField("dep_name", StringType(), True)
])

dep_path = '/FileStore/assignment/resource/department_q1.csv'

department_df = read_custom_schema(dep_path , schema)

department_df.show()
department_df.printSchema()

+------------+--------------+
|DepartmentID|DepartmentName|
+------------+--------------+
|        D101|         Sales|
|        D102|     Marketing|
|        D103|       Finance|
|        D104|       Support|
|        D105|            HR|
+------------+--------------+

root
 |-- DepartmentID: string (nullable = true)
 |-- DepartmentName: string (nullable = true)

In [0]:
schema=schema = StructType([
    StructField("country_code", IntegerType(), True),
    StructField("country_name", StringType(), True)
])

country_path = '/FileStore/assignment/resource/country_q1.csv'
country_df = read_custom_schema(country_path , schema)
country_df.show()
country_df.printSchema()

+-----------+------------+
|CountryCode| CountryName|
+-----------+------------+
|         CN|       China|
|         IN|       India|
|         SA|South Africa|
|         JA|       Japan|
|         MY|    Malaysia|
|         MA|     Morocco|
+-----------+------------+

root
 |-- CountryCode: string (nullable = true)
 |-- CountryName: string (nullable = true)

In [0]:

employee_snake_case = camel_to_snake(employee_df)
display(employee_snake_case)

employeeid,employeename,department,country,salary,age
1,James,D101,IN,9000,25
2,Michel,D102,SA,8000,26
3,James son,D101,IN,10000,35
4,Robert,D103,MY,11000,34
5,Scott,D104,MA,6000,36
6,Gen,D105,JA,21345,24
7,John,D102,MY,87654,40
8,Maria,D105,SA,38144,38
9,Soffy,D103,IN,23456,29
10,Amy,D103,CN,21345,24

In [0]:
date_load = current_date_df(employee_snake_case)
display(date_load)

employeeid,employeename,department,country,salary,age,load_date
1,James,D101,IN,9000,25,2024-04-17
2,Michel,D102,SA,8000,26,2024-04-17
3,James son,D101,IN,10000,35,2024-04-17
4,Robert,D103,MY,11000,34,2024-04-17
5,Scott,D104,MA,6000,36,2024-04-17
6,Gen,D105,JA,21345,24,2024-04-17
7,John,D102,MY,87654,40,2024-04-17
8,Maria,D105,SA,38144,38,2024-04-17
9,Soffy,D103,IN,23456,29,2024-04-17
10,Amy,D103,CN,21345,24,2024-04-17

In [0]:


 spark.sql('CREATE DATABASE employee_info')
 spark.sql('use employee_info')

Out[19]: DataFrame[]

In [0]:
employee_df.write.option('path', 'dbfs:/FileStore/assignment/questoin1/silver/employee_info/dim_employee').saveAsTable('dim_employee')